<div class="footer">
    <div class="footer-top">
        <div class="wrapper">
            <div class="footer-column">
                <div class="footer-column-col">
                    <h3>КОРИСНІ ПОСИЛАННЯ</h3>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Сайт Президента України</a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Верховна Рада України</a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Міністерство освіти і науки України</a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Департамент освіти і науки (КМДА)</a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Освіта.ua</a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Український центр оцінювання якості освіти</a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Інститут модернізації змісту освіти</a>
                </div>
            </div>
            <div class="footer-column">
                <div class="footer-column-col">
                    <h3>ЕЛЕКТРОННІ РЕСУРСИ</h3>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Посилання на видео уроку "Клепання"</a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Урок виробничого навчання (зразок)
                    </a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Виставлення семестрових оцінок
                    </a>
                    <a href="#"><img src="./images/main/link-f.svg" alt="link">Алгоритм створення тестів в Google  формах</a>
                </div>
                <div class="footer-column-col footer-column-col-pc">
                    <h3>Адреса:</h3>
                    <div class="footer-column-row">
                        <p>вул. Сім'ї Сосніних 15а <br> 03680 м.Київ</p>
                        <div class="footer-column-links">
                            <a href="#" class="foot-link">
                                <span class="foot-link-img"><img src="./images/main/email-s.svg" alt="link"></span>
                                <span>vpuavto@gmail.com</span>
                            </a>
                            <a href="#" class="foot-link">
                                <span class="foot-link-img"><img src="./images/main/tel-s.svg" alt="link"></span>
                                <span>044 276 23 23</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-column">
                <div class="footer-column-col">
                    <h3>СТАТИСТИКА</h3>
                    <div class="footer-column-col-stat">
                        <div>
                            <p>Сьогодні</p>
                            <span>316</span>
                        </div>
                        <div>
                            <p>Вчора</p>
                            <span>586</span>
                        </div>
                        <div>
                            <p>За тиждень</p>
                            <span>1460</span>
                        </div>
                        <div>
                            <p>За місяць</p>
                            <span>6340</span>
                        </div>
                        <div>
                            <p>Усього</p>
                            <span>125408</span>
                        </div>
                    </div>
                </div>
                <div class="footer-column-col footer-column-col-pad footer-column-col-pc">
                    <a href="tel:044 276 23 38" class="foot-link">
                        <span class="foot-link-img"><img src="./images/main/tax-s.svg" alt="link"></span>
                        <span>044 276 23 38</span>
                    </a>
                    
                    <a href="tel:044 276 78 55" class="foot-link">
                        <span class="foot-link-img"><img src="./images/main/tax-s.svg" alt="link"></span>
                        <span>044 276 78 55</span>
                    </a>
                </div>
            </div>
            <div class="footer-column-col footer-column-col-mob">
                <h3>Адреса:</h3>
                <div class="footer-column-row">
                    <p>вул. Сім'ї Сосніних 15а <br> 03680 м.Київ</p>
                    <div class="footer-column-links">
                        <a href="#" class="foot-link">
                            <span class="foot-link-img"><img src="./images/main/email-s.svg" alt="link"></span>
                            <span>vpuavto@gmail.com</span>
                        </a>
                        <a href="#" class="foot-link">
                            <span class="foot-link-img"><img src="./images/main/tel-s.svg" alt="link"></span>
                            <span>044 276 23 23</span>
                        </a>
                        <a href="tel:044 276 23 38" class="foot-link">
                            <span class="foot-link-img"><img src="./images/main/tax-s.svg" alt="link"></span>
                            <span>044 276 23 38</span>
                        </a>
                        
                        <a href="tel:044 276 78 55" class="foot-link">
                            <span class="foot-link-img"><img src="./images/main/tax-s.svg" alt="link"></span>
                            <span>044 276 78 55</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper">
            <div class="footer-bottom-left">
                <a href="index.html" class="logo">
                    <img src="./images/main/logo.svg" alt="svg">
                </a>
                <div class="social">
                    <a href="#"><img src="./images/main/soc-1.svg" alt="s"></a>
                    <a href="#"><img src="./images/main/soc-2.svg" alt="s"></a>
                    <a href="#"><img src="./images/main/soc-3.svg" alt="s"></a>
                </div>
            </div>
            <p>© Державний навчальний заклад «Міжрегіональне вище професійне училище автомобільного транспорту та будівельної механізації»</p>
        </div>
    </div>
</div>