<div class="header">
    <div class="header-top">
        <div class="wrapper">
            <div class="header-top-cnt">
                <a href="index.html" class="header-top-logo">
                    <img src="./images/main/logo.png" alt="svg">
                </a>
                <div class="header-top-right">
                    <div class="header-lang link-select lang-trigger">
                        <div class="link-select-active">
                            <span>Укр</span>
                            <img src="./images/main/ght.svg" alt="">                              
                        </div>
                        <div class="link-select-hidden">
                            <a href="#">Рус</a>
                        </div>
                    </div>
                    <a href="#" class="header-search-trigger call-popup" data-popup="searchPopup">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0000001)">
                            <path d="M10.5636 0C4.73899 0 0 4.74145 0 10.5691C0 16.3971 4.73899 21.1382 10.5636 21.1382C16.3885 21.1382 21.1272 16.3971 21.1272 10.5691C21.1272 4.74145 16.3885 0 10.5636 0ZM10.5636 19.187C5.81421 19.187 1.9502 15.321 1.9502 10.5691C1.9502 5.81728 5.81421 1.95122 10.5636 1.95122C15.313 1.95122 19.177 5.81723 19.177 10.5691C19.177 15.321 15.313 19.187 10.5636 19.187Z" fill="white"/>
                            <path d="M23.7018 22.3346L18.1112 16.7411C17.7302 16.36 17.1133 16.36 16.7324 16.7411C16.3514 17.1219 16.3514 17.7398 16.7324 18.1207L22.323 23.7142C22.5134 23.9047 22.7628 24 23.0124 24C23.2617 24 23.5113 23.9047 23.7018 23.7142C24.0827 23.3333 24.0827 22.7154 23.7018 22.3346Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0000001">
                            <rect width="23.9875" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                    
                    </a>
                    <a href="#" class="menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header-cnt">
            <a href="index.html" class="logo">
                <img src="./images/main/logo.png" alt="svg">
            </a>
            <div class="header-nav">
                <div class="header-nav-content">
                    <div class="header-nav-link header-nav-link-wrap">
                        <a class="header-nav-link-trigger" href="#">Інформація <br> про діяльність<img src="./images/main/arrow-r.svg" alt="svg"></a>
                        <div class="header-nav-submenu header-nav-submenu-1">
                            <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg" alt="svg"> Інформація <br> про діяльність</a>
                            <div class="header-nav-submenu-link header-nav-link-wrap  header-nav-submenu-hover">
                                <a class="header-nav-link-trigger" href="#">Новини <img src="./images/main/arrow.svg" alt="arrow"></a>
                                <div class="header-nav-submenu">
                                    <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg">Новини</a>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">Адміністрація</a>
                                    </div>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">Педагогічні працівники</a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Загальна інформація</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Сторінка директора</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Юридичні документи</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Господарсько-фінансові
                                    документи</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Матеріальне-технічне
                                    забезпечення</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Моніторинг якості освіти</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Контингент</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Публічні закупівлі</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Розробка стандартів</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Експериментальна
                                    діяльність</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Організація охорони праці
                                    та безпеки життєдіяльності</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-link header-nav-link-wrap">
                        <a class="header-nav-link-trigger" href="#">Освітній <br> процес<img src="./images/main/arrow-r.svg" alt="svg"></a>
                        <div class="header-nav-submenu header-nav-submenu-1">
                            <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg" alt="svg"> Інформація про заклад</a>
                            
                            <div class="header-nav-submenu-link header-nav-link-wrap  header-nav-submenu-hover">
                                <a class="header-nav-link-trigger" href="#">Результати вступу <img src="./images/main/arrow.svg" alt="arrow"></a>
                                <div class="header-nav-submenu">
                                    <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg">Кадровий склад</a>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 9 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 11 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link header-nav-link-wrap header-nav-submenu-hover">
                                        <a class="header-nav-link-trigger" href="#">Молодший <br> бакалавр </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Загальна інформація</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Документи для вступу</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Заява рнлайн</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Фахове випробування</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Вартість навчання</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Конкурсний відбір</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Гуртожиток</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-link header-nav-link-wrap">
                        <a class="header-nav-link-trigger" href="#">Виховна <br> робота <img src="./images/main/arrow-r.svg" alt="svg"></a>
                        <div class="header-nav-submenu header-nav-submenu-1">
                            <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg" alt="svg"> Інформація про заклад</a>
                            <div class="header-nav-submenu-link">
                                <a href="#">Загальна інформація</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Документи для вступу</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Заява рнлайн</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Фахове випробування</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Вартість навчання</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Конкурсний відбір</a>
                            </div>
                            <div class="header-nav-submenu-link header-nav-link-wrap  header-nav-submenu-hover">
                                <a class="header-nav-link-trigger" href="#">Результати вступу <img src="./images/main/arrow.svg" alt="arrow"></a>
                                <div class="header-nav-submenu">
                                    <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg">Кадровий склад</a>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 9 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 11 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link header-nav-link-wrap header-nav-submenu-hover">
                                        <a class="header-nav-link-trigger" href="#">Молодший <br> бакалавр </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Гуртожиток</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-link header-nav-link-wrap">
                        <a class="header-nav-link-trigger" href="#">Методична <br> робота <img src="./images/main/arrow-r.svg" alt="svg"></a>
                        <div class="header-nav-submenu header-nav-submenu-1">
                            <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg" alt="svg"> Інформація про заклад</a>
                            <div class="header-nav-submenu-link">
                                <a href="#">Загальна інформація</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Документи для вступу</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Заява рнлайн</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Фахове випробування</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Вартість навчання</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Конкурсний відбір</a>
                            </div>
                            <div class="header-nav-submenu-link header-nav-link-wrap  header-nav-submenu-hover">
                                <a class="header-nav-link-trigger" href="#">Результати вступу <img src="./images/main/arrow.svg" alt="arrow"></a>
                                <div class="header-nav-submenu">
                                    <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg">Кадровий склад</a>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 9 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 11 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link header-nav-link-wrap header-nav-submenu-hover">
                                        <a class="header-nav-link-trigger" href="#">Молодший <br> бакалавр </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Гуртожиток</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-link  header-nav-link-wrap">
                        <a class="header-nav-link-trigger" href="#">Абітурієнту <img src="./images/main/arrow-r.svg" alt="svg"></a>
                        <div class="header-nav-submenu  header-nav-submenu-left  header-nav-submenu-1">
                            <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg" alt="svg"> Інформація про заклад</a>
                            <div class="header-nav-submenu-link">
                                <a href="#">Загальна інформація</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Документи для вступу</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Заява рнлайн</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Фахове випробування</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Вартість навчання</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Конкурсний відбір</a>
                            </div>
                            <div class="header-nav-submenu-link header-nav-link-wrap  header-nav-submenu-hover">
                                <a class="header-nav-link-trigger" href="#">Результати вступу <img src="./images/main/arrow.svg" alt="arrow"></a>
                                <div class="header-nav-submenu">
                                    <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg">Кадровий склад</a>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 9 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 11 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link header-nav-link-wrap header-nav-submenu-hover">
                                        <a class="header-nav-link-trigger" href="#">Молодший <br> бакалавр </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Гуртожиток</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-link">
                        <a href="#"> Соціально-психологічний <br> супровід </a>
                    </div>
                    <div class="header-nav-link header-nav-link-wrap">
                        <a class="header-nav-link-trigger" href="#">Наші  <br> досягнення <img src="./images/main/arrow-r.svg" alt="svg"></a>
                        <div class="header-nav-submenu  header-nav-submenu-left  header-nav-submenu-1">
                            <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg" alt="svg"> Інформація про заклад</a>
                            <div class="header-nav-submenu-link">
                                <a href="#">Загальна інформація</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Документи для вступу</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Заява рнлайн</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Фахове випробування</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Вартість навчання</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Конкурсний відбір</a>
                            </div>
                            <div class="header-nav-submenu-link header-nav-link-wrap  header-nav-submenu-hover">
                                <a class="header-nav-link-trigger" href="#">Результати вступу <img src="./images/main/arrow.svg" alt="arrow"></a>
                                <div class="header-nav-submenu">
                                    <a href="#" class="header-nav-submenu-title  header-nav-link-back"><img src="./images/main/arrow-l-b.svg">Кадровий склад</a>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 9 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link">
                                        <a href="#">На базі 11 класів</a>
                                    </div>
                                    <div class="header-nav-submenu-link header-nav-link-wrap header-nav-submenu-hover">
                                        <a class="header-nav-link-trigger" href="#">Молодший <br> бакалавр </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Гуртожиток</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                            <div class="header-nav-submenu-link">
                                <a href="#">Правила вступу кваліфікованих  робітників</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-link">
                        <a href="#">Навчання <br> для дорослих</a>
                    </div>
                    <div class="header-nav-link">
                        <a href="#">Контакти</a>
                    </div>
                    <div class="header-language">
                        <span>Укр</span>
                        <a href="#">РУС</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>