<div id="searchPopup" class="popup-wrapper">
    <div class="popup-layout">
        <div class="search-popup">
            <div class="wrapper">
                <form action="#">
                    <div class="search-row">
                        <div class="search-row-input">
                            <img src="./images/main/search.svg" alt="search">
                            <input type="search" placeholder="Введіть ваш запит для пошуку">
                        </div>
                        <button type="submit" class="btn">
                            <span class="btn-el">пошук</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="popup-close"><img src="./images/main/close-svg.svg" alt="close"></div>
        </div>
    </div>
</div>

<div id="thanks1" class="popup-wrapper">
    <div class="popup-layout popup-layout-2">
        <div class="popup">
            <div class="popup-head">
                <div class="popup-close"><img src="./images/main/close-svg.svg" alt="close"></div>
            </div>
            <div class="popup-cnt">
                <div class="popup-title">Дякуємо!</div>
                <div class="popup-subtitle">Відповідь прийде на ваш Email <br>  Бажаємо успіхів!</div>
            </div>
        </div>
    </div>
</div>

<div id="thanks2" class="popup-wrapper">
    <div class="popup-layout popup-layout-2">
        <div class="popup">
            <div class="popup-head">
                <div class="popup-close"><img src="./images/main/close-svg.svg" alt="close"></div>
            </div>
            <div class="popup-cnt">
                <div class="popup-title">Дякуємо!</div>
                <div class="popup-subtitle">Ми з вами зв'яжемся!</div>
            </div>
        </div>
    </div>
</div>