
<!--Libs-->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/libs/wow.min.js"></script>
<script src="js/libs/jquery.maskedinput.min.js"></script>
<script src="js/libs/owlcarousel/owl.carousel.min.js"></script>
<script src="js/libs/fancybox/jquery.fancybox.min.js"></script>
<script src="js/libs/blazy/blazy.min.js"></script>
<script src="js/libs/file/filepond-plugin-file-validate-type.js"></script>
<script src="js/libs/file/filepond.js"></script>

<!--general-->
<script src="js/common.js"></script>