html, body {
    height: 100%;
    background-color: #F2F3F7;
    &.hidden {overflow: hidden;}
}

body.hidden {
    @media (min-width: 1201px) {
        padding-right: 17px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    border-top: 12px solid $white;
    &-content {
        flex: 1 0 auto;
        overflow-x: auto;
    }
    & footer {flex: 0 0 auto;}
}


.wrapper {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 1200px) {
        padding: 0 20px;
    }
}

.section {
    &-block {
        padding: 30px 0 70px;
        @media (max-width: 1100px) {
            padding: 35px 0 40px;
        }
        &-btn {
            margin: 70px 0 0;
            @media (max-width: 1100px) {
                margin: 40px 0 0;
            }
        }
        &-no {
            padding: 78px 0 70px;
            @media (max-width: 1100px) {
                padding: 35px 0 40px;
            }
        }
    }
    &-main {
        padding: 0 0 70px;
        @media (max-width: 1100px) {
            padding: 0 0 30px;
        }
    }
}

.title {
    margin-bottom: 30px;
    font-family: 'Lato Black';
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: $blackgray;
    @media (max-width: 992px) {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 26px;
    }
}



.title-s {
    margin-bottom: 27px;
    font-family: 'Lato Bold';
    font-size: 24px;
    line-height: 29px;
    color: $white;
    @media (max-width: 992px) {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
    }
}

.text-dark {
    color: $blackgray;
}

.text {
    margin-bottom: 56px;
    font-family: 'Montserrat Regular';
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    @media (max-width: 992px) {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 28px;
    }
}

.text-center {text-align: center;}
.text-white {color: $white;}



.search {
    &-popup {
        position: relative;
        width: 100%;
        padding: 96px 0 149px;
        background-color: #fff;
        @media (max-width: 767px) {
            padding: 50px 0 30px;
        }  
        & .wrapper {
            & form {width: 100%;}
        }
    }
    &-row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }   
        &-input {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 1195px;
            margin-right: 30px;
            padding-bottom: 17px;
            border-bottom: 1px solid #333333;
            @media (max-width: 767px) {
                margin-bottom: 20px;
                margin-right: 0;
            }  
            & img {
                margin-right: 17px;
            }
            & input {
                display: block;
                padding-right: 20px;
                width: 100%;
                font-family: 'Lato Regular';
                font-size: 16px;
                line-height: 16px;
                outline: none;
                background-color: transparent;
                border-radius: 0;
                border: none;
                box-shadow: none;
                color: $gray;
                @media (max-width: 767px) {
                    font-size: 12px;
                    line-height: 12px;
                }  
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $gray;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: $gray;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: $gray;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: $gray;
                }
            }
        }
        & .btn {
            width: 100%;
            max-width: 215px;
        }
    }
}


.breadcrumbs {
    padding: 48px 0 0;
    @media (max-width:1100px) {
        display: none;
    }
    &-cnt {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;
        & a {
            font-family: 'Lato Regular';
            font-size: 16px;
            line-height: 24px;
            color: #656575;
            transition: 0.3s ease;
            &:hover {color: $red;}
        }
    }
    & span {
        font-family: 'Lato Regular';
        font-size: 16px;
        line-height: 24px;
        color: #2E2E3A;
    }
    &-slash {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 7px;
        height: 24px;
        padding-top: 2px;
        & img {max-width: 5px;}
    }
}


.link-select {
    position: relative;
    &:not(:last-child) {
        margin-right: 30px;
    }
    & span,
    & a {
        font-family: 'Lato Bold';
        font-size: 13px;
        line-height: 13px;
        text-transform: uppercase;
        color: $white;
        transition: 0.3s ease;
    }
    &-active {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        & span {
            text-transform: uppercase;
            margin-right: 8px;
            @media (max-width: 767px)  {
                margin-right: 3px;
            }
        }
        & img {
            max-width: 9px;
            transition: 0.3s ease;
        }
        @media (max-width: 767px) {
            min-height: 0;
        }
        @media (min-width: 1101px) {
            &:hover {
                & span {color: $yellow;}
            }
        }
    }
    &-hidden {
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        z-index: 3;
        display: none;
        width: 100%;
        padding: 8px 3px;
        background-color: $white;
        border: 1px solid $red;
        border-radius: 5px;
        & a {
            display: block;
            text-align: center;
            text-transform: uppercase;
            color: $gray;
            &:not(:last-child) {margin-bottom: 10px;}
            &:hover {color: $red;}
        }
    }
    &.active {
        & .link-select-active {
            & span {color: $yellow;}
        }
    }
}


.info-block {
    &:not(:last-child) {
        margin-bottom: 70px;
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
    }
    &-flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        &-item {
            width: calc(50% - 10px);
            @media (max-width: 992px) {
                width: 100%;
            }
        }
        & img {
            width: 100%;
            max-width: 376px;
            &:not(:last-child) {
                margin-right: 20px;
                @media (max-width: 992px) {
                    margin: 0 0 20px;
                }
            }
        }
    }
    & p {
        font-family: 'Lato Regular';
        font-size: 16px;
        line-height: 24px;
        color: #656575;
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 20px;
        }
        &:not(:last-child) {
            margin-bottom: 24px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
    }
    & img {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 30px;
            @media (max-width: 992px) {
                margin-bottom: 25px;
            }
        }
    }
    & a:not(.btn)  {
        font-family: 'Lato Regular';
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: $red;
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 20px;
        }
        &:hover {
            color: #A61724;
            text-decoration: none;
        }
    }
    & h1 {
        font-family: 'Lato Black';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        text-transform: uppercase;
        color: $blackgray;
        @media (max-width: 992px) {
            font-size: 20px;
            line-height: 26px;
        }
        &:not(:last-child) {
            margin-bottom: 25px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
    }
    & h2 {
        font-family: 'Lato Black';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        color: $blackgray;
        @media (max-width: 992px) {
            font-size: 18px;
            line-height: 24px;
        }
        &:not(:last-child) {
            margin-bottom: 25px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
    }
    & h3 {
        font-family: 'Lato Black';
        font-weight: 900;
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
        color: $blackgray;
        @media (max-width: 992px) {
            font-size: 18px;
            line-height: 26px;
        }
        &:not(:last-child) {
            margin-bottom: 25px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
    }
    & h4 {
        font-family: 'Lato Black';
        font-weight: 900;
        font-size: 17px;
        line-height: 24px;
        color: $blackgray;
        &:not(:last-child) {
            margin-bottom: 25px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 992px) {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 26px;
        }
    }
    & h5 {
        font-family: 'Lato Medium';
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: $blackgray;
        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
        }
        &:not(:last-child) {
            margin-bottom: 24px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
    }
    ol {
        padding: 0;
        margin: 0;
        list-style: none;
        counter-reset: my-awesome-counter;
        &:not(:last-child) {
            margin-bottom: 24px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
        & > li {
            font-family: 'Lato Regular';
            font-size: 16px;
            line-height: 24px;
            color: #656575;
            @media (max-width: 992px) {
                font-size: 14px;
                line-height: 20px;
            }
            counter-increment: my-awesome-counter;
            &::before {
                content: counter(my-awesome-counter) ". ";
                font-family: 'Lato Regular';
            }
        }
    }
    & ul {
        padding: 0;
        margin: 0;
        list-style: none;
        &:not(:last-child) {
            margin-bottom: 24px;
            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
        & > li {
            position: relative;
            padding-left: 15px;
            font-family: 'Lato Regular';
            font-size: 16px;
            line-height: 24px;
            color: #656575;
            @media (max-width: 992px) {
                font-size: 14px;
                line-height: 20px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: 0;
                display: block;
                width: 6px;
                height: 6px;
                background-color: $red;
                border-radius: 2px;
                @media (max-width: 992px) {
                    top: 7px;
                }
            }
            & span,
            & a {color: $red !important;}
            & a:hover {text-decoration: underline !important;}
        }
    }
}



.button-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    @media (max-width: 992px) {
        margin-top: 13px;
    }
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        min-width: 35px;
        border-radius: 50%;
        font-family: 'Lato Regular';
        font-size: 14px;
        line-height: 31px;
        text-align: center;
        color: #2E2E3A;
        border: 2px solid transparent;
        transition: 0.3s ease;
        @media (max-width: 600px) {
            width: 25px;
            height: 25px;
            min-width: 25px;
            font-size: 10px;
            line-height: 21px;
        }
        &:not(:last-child) {
            margin-right: 10px;
            @media (max-width: 600px)  {
                margin-right: 5px;
            }
        }
        &.active {
            background-color: $red;
            color: #fff;
            border: 2px solid $red;
        }
        &:not(.active) {
            &:not(.pagination-item-arrow):hover {color: $red;}
        }
        &-arrow {
            border: 2px solid $red;
            & img {
                max-width: 10px;
                @media (max-width: 600px) {
                    max-width: 7px;
                }
            }
            &:first-child {
                & img {
                    transform: translate(-2px, 1px);
                }
            }
            &:hover {box-shadow: 0px 7px 4px rgba(206, 30, 46, 0.2);}
        }
    }








    &-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57px;
        min-width: 57px;
        height: 57px;
        border: 2px solid $red;
        background-color: $white;
        transition: 0.3s ease;
        @media (max-width: 992px) {
            display: none;
        }
        &:not(:last-child) {margin-right: 38px;}
        &:last-child {margin-left: 21px;}
        & svg {
            & path {
                transition: 0.3s ease;
                fill: #333;
            }
        }
        &:hover {
            background-color: $red;
            & svg {
                & path {
                    fill: $white;
                }
            }
        }
    }
    &-link {
        display: block;
        margin: 14px 8px 0;
        padding: 0 2px 8px 3px;
        font-family: 'Lato Bold';
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $blackgray;
        transition: 0.3s ease;
        border-bottom: 2px solid transparent;
        &:not(.pagination-link-current):hover {color: $red;}
        &:not(.pagination-link-slash):hover {color: $red;}
        &-current {
            color: $red;
            border-bottom: 2px solid $red;
        }
    }
}



.popup {
    width: 100%;
    max-width: 954px;
    background-color: #fff;
    &-head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 9px 12px;
        & .popup-close {
            position: static;
        }
    }
    &-cnt {
        padding: 50px 15px;
    }
    &-title {
        margin-bottom: 15px;
        font-family: 'Montserrat Bold';
        font-size: 38px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: $green;
    }
    &-subtitle {
        font-family: 'Montserrat Bold';
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        color: #333;
    }
    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        
    }
    &-layout {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 6;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        &-2 {
            padding-top: 20px;
        }
    }
    &-close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 25px;
        width: 100%;
        max-width: 44px;
        @media (max-width: 767px) {
            top: 10px;
            right: 15px;
            max-width: 22px;
        } 
        & img  {
            width: 100%;
        }
    }
    
}


.table {
    &-row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
        width: 100%;
        &-wrap {
            width: 100%;
            overflow-y: auto;
            width: calc(100% + 20px);
            margin-left: -10px;
            margin-right: -10px;
            // padding: 0 10px;
        }
        table {
            min-width: 600px;
            margin: 0 10px 20px;
            border-collapse: collapse;
            border-spacing: 5px;
            text-align: center;
            background: #F6F6F6;
            border-radius: 20px;
            // @media (max-width: 650px) {
            //     margin: 0 0 20px;
            // }
            th {
                font-family: 'Montserrat SemiBold';
                font-size: 20px;
                padding: 15px;
                border-bottom: 2px solid $green;
                color: $black;
            }
            tbody tr:nth-child(2) {
                border-bottom: 2px solid $green;
            }
            td {
                padding: 10px;
                font-family: 'Montserrat Regular';
                font-size: 16px;
                line-height: 26px;
                color: #333333;
                color: $black;
            }
        }
    }
}


.accordion {
    padding: 25px 34px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    @media (max-width: 670px) {
        padding: 15px;
    }
    &-head {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .title-s {
            margin-bottom: 0;
        }
        & img {
            width: 24px;
            min-width: 24px;
            height: 24px;
            margin-left: 10px;
            transition: 0.3s ease;
        }
    }
    &-content {
        display: none;
        padding: 25px 0 0;
    }
    &.open {
        & .accordion-head {
            & img {
                transform: rotate(180deg);
            }
        }
    }
    &:not(.open):hover {
        @media (min-width: 1201px) {
            background: rgba(206, 30, 46, 0.1);
        }
    }
}