.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    background-color: $red;
    & .logo {
        position: relative;
        display: block;
        width: 100%;
        max-width:131px;
        min-width: 131px;
        height: 100%;
        @media (max-width: 1200px) {
            display: none;
        }
        & img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            max-width:131px;
            min-width: 131px;
        }
    }
    &-cnt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &-nav {
        width: 100%;
        max-width: 1223px;
        margin: 0 0 0 30px;    
        @media (max-width: 1400px) {
            margin: 0 21px;
        }
        @media (max-width: 1200px) {
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 6;
            width: 100%;
            height: calc(100vh - 60px);
            margin: 0;
            background-color: $red;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease;
            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 1200px) {
                position: fixed;
                top: 60px;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 7;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                padding: 46px 15px 30px;
                overflow: hidden;
                overflow-y: auto;
            }
        }
        &-link {
            position: relative;
            padding: 19px 0;
            @media (max-width: 1200px) {
                width: 100%;
                padding: 0 23px 0 0;
            }
            &:not(:last-child) {
                margin-right: 5px;
                @media (max-width: 1200px) {
                    margin: 0 0 20px;
                }
            }
            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Lato Bold';
                font-size: 13px;
                line-height: 17px;
                min-height: 34px;
                text-align: center;
                text-transform: uppercase;
                color: $white;
                transition: 0.3s ease;
                @media (max-width: 1200px) {
                    justify-content: space-between;
                    width: 100%;
                    & br {
                        display: none;
                    }
                }
                & img {
                    display: none;
                    @media (max-width: 1200px) {
                        display: block;
                        margin-left: 5px;
                    }
                }
            }
            &:hover {
                @media (min-width: 1201px) {
                    & > a {
                        color: $yellow;
                    }
                    & > .header-nav-submenu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        &-submenu {
            position: absolute;
            top: 100%;
            left: -33px;
            width: 277px;
            padding: 27px 0 31px 33px;
            background: $white;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease;
            @media (max-width: 1200px) {
                position: fixed;
                top: 60px;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 8;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                padding: 46px 15px 40px;
                overflow: hidden;
                overflow-y: auto;
                background-color: $white;
                &.active {
                    visibility: visible;
                    opacity: 1;
                }
                & .header-nav-submenu {
                    z-index: 9;
                    & .header-nav-submenu {
                        z-index: 10;
                    }
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: block;
                width: 1px;
                height: 100%;
                background-color: rgba(101, 101, 117, 0.2);
                touch-action: none;
                @media (max-width: 1200px) {
                    display: none;
                }
            }
            &-title {
                display: none;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 24px;
                font-family: 'Lato Bold';
                font-size: 13px;
                line-height: 13px;
                text-transform: uppercase;
                color: $red;
                @media (max-width: 1200px) {
                    display: flex;
                    & br {
                        display: none;
                    }
                }
                & img {
                    margin-right: 11px;
                    margin-top: 2px;
                }
            }
            &-1 {
                &::before {display: none;}
                &::after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: 62px;
                    display: block;
                    width: 31px;
                    height: 20px;
                    background-image: url('../images/main/triangle.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
            }
            &-link {
                position: relative;
                padding-right: 27px;
                @media (max-width: 1200px) {
                    width: 100%;
                    padding-right: 20px;
                }
                & > a {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    font-family: 'Lato Bold';
                    font-size: 12px;
                    line-height: 17px;
                    text-transform: uppercase;
                    color: $blackgray;
                    transition: 0.3s ease;
                    @media (max-width: 1200px) {
                        justify-content: space-between;
                        width: 100%;
                    }
                    & img {
                        margin-left: 12px;
                        margin-top: 2px;
                    }
                }
                & .header-nav-submenu {
                    @media (min-width: 1201px)  {
                        top: -27px;
                        left: 100%;
                    }
                }
                &:not(:last-child) {
                    padding-bottom: 20px;
                    @media (max-width: 1200px) {
                        padding-bottom: 0;
                        margin-bottom: 20px;
                    }
                }
                &:hover {
                    @media (min-width: 1201px) {
                        & > a {
                            color: $red;
                        }
                        & > .header-nav-submenu {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            @media (min-width: 1201px)  {
                &-left {
                    padding: 27px 0 24px 0;
                    & .header-nav-submenu {
                        top: 0;
                        left: auto;
                        right: 100%;
                        padding: 27px 0 24px 0;
                        &-link {
                            padding-left: 33px;
                        }
                        &::before {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    &-search {
        &-trigger {
            display: block;
            width: 22px;
            min-width: 22px;
            & path {
                fill: $white;
                transition: 0.3s ease;
            }
            &:hover {
                @media (min-width: 1201px) {
                    & path {
                        fill: $yellow;
                    }
                }
            }
        }
    }
    &-top {
        padding: 5px 0;
        background-color: $redbg;
        @media (max-width: 1200px)  {
            position: relative;
            z-index: 30;
            min-height: 60px;
            padding: 0;
            background-color: transparent;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        }
        &-cnt {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: 1200px)  {
                justify-content: space-between;
            }
        }
        &-logo {
            display: none;
            @media (max-width: 1200px) {
                position: relative;
                display: block;
                max-width: 83px;
                min-width: 83px;
                min-height: 60px;
                & img {
                    position: absolute;
                    z-index: 3;
                    top: 7px;
                    left: 0;
                    max-width: 83px;
                    min-width: 83px;
                }
            }
        }
        &-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: 1200px) {
                & .header-lang {
                    display: none;
                }
            }
        }
    }
    &-language {
        display: none;
        @media (max-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & a,
            & span {
                display: inline-block;
                padding-bottom: 5px;
                font-family: 'Lato Bold';
                font-size: 13px;
                line-height: 17px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                border-bottom: 2px solid transparent;
                &:not(:last-child) {margin-right: 21px;}
            }
            & span {
                border-bottom: 2px solid $yellow;
            }
        }
    }
}



.menu-trigger {
    display: none;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 23px;
    height: 20px;
	transition: 0.6s ease;
    @media (max-width: 1200px) {
        display: flex;
        margin-left: 20px;
    }
    & span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;
        transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
        &:nth-child(2) {width: 60%;}
    }
    &.open {
        justify-content: center;
        & span {
            position: relative;
            width: 100%;
            &:nth-child(1) {
                transform: rotate(-40deg);
                margin-bottom: -2px;
            }
            &:nth-child(2) {display: none;}
            &:nth-child(3) {transform: rotate(40deg);}
        }
    }
}
