.base {
    &-list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-flow: row wrap;
        @media (max-width: 630px) {
            justify-content: center;
        }
    }
    &-item {
        display: block;
        width: calc((100% / 3) - 13px);
        margin-bottom: 20px;
        @media (max-width: 870px) {
            width: calc((100% / 2) - 13px);
            max-width: 376px;
        }
        @media (max-width: 630px) {
            width: 100%;
            max-width: 376px;
        }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 245px;
            min-height: 245px;
            max-height: 245px;
            overflow: hidden;
            margin-bottom: 17px;
            & img {
                max-height: 245px;
            }
        }
        &-title {
            font-family: 'Montserrat Bold';
            font-size: 18px;
            line-height: 27px;
            text-transform: uppercase;
            color: #333333;
            @media (max-width: 870px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}