.gallery {
    padding: 70px 0 0;
    @media (max-width: 992px) {
        padding: 30px 0 0;
    }
    &-slider {
        width: 100%;
        max-width: 1654px;
        margin: 0 auto;
        padding: 0 107px;
        @media (max-width: 1200px) {
            padding: 0 20px;
        }
        & .owl-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-item {
            position: relative;
            display: block;
            width: 100%;
            overflow: hidden;
            &::before {
                content: "";
                display: block;
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(206, 30, 46, 0.3);
                transition: 0.3s ease;
                opacity: 0;
                visibility: hidden;
            }
            &:hover:after {
                opacity: 1;
                visibility: visible;
            }
            &-s {
                min-height: 126px;
                max-height: 126px;
                @media (max-width: 767px)  {
                    min-height: 70px;
                    max-height: 70px;
                    &::before {
                        padding-top: 59%;
                    }
                }
            }
            &-m {
                min-height: 280px;
                max-height: 280px;
                @media (max-width: 767px)  {
                    min-height: 170px;
                    max-height: 170px;
                    &::before {
                        padding-top: 61%;
                    }
                }
            }
            &-l {
                min-height: 350px;
                max-height: 350px;
                @media (max-width: 767px)  {
                    min-height: 190px;
                    max-height: 190px;
                    &::before {
                        padding-top: 77%;
                    }
                }
            }
        }
        & .owl-nav {
            & button {
                position: absolute;
                top: 50%;
                z-index: 2;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                background: $white !important;
                border: 2px solid transparent !important;
                border-radius: 50%;
                transition: 0.3s ease;
                @media (max-width: 1200px) {
                    width: 29px;
                    height: 29px;
                    background: rgba(255, 255, 255, 0.3) !important;
                }
                & span {
                    display: block;
                    font-size: 0;
                    line-height: 0;
                    color: transparent;
                    width: 10px;
                    height: 18px;
                    background-image: url(../images/main/arrow-b3.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition: 0.3s ease;
                    @media (max-width: 1200px) {
                        width: 7px;
                        height: 12px;
                    }
    
                }
                &.owl-next {
                    left: 7px;
                }
                &.owl-prev {
                    right: 7px;
                    & span {
                        transform: rotate(180deg);
                    }
                }
                &:hover {
                    @media (min-width: 1201px) {
                        border: 2px solid $red !important;
                    }
                }
            }
        }
    }
}